/*
 * Copyright 2015, Robert Bieber
 *
 * This file is part of mapcompare.
 *
 * mapcompare is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * mapcompare is distributed in the hope that it will be useful,
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with mapcompare.  If not, see <http://www.gnu.org/licenses/>.
 */

div.container {
	background-color: black;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	z-index: -1;
	overflow: hidden;
}

div#main_controls {
	font-size: 20px;

	background-color: white;
	border: 4px solid gray;
	border-radius: 10px;

	position: absolute;
	top: 20px;
	right: 20px;
	width: 200px;
	height: 80px;

	padding: 10px 10px 10px 10px;

	z-index: 1000;
}

div#main_controls input[type="button"] {
	margin-top: 5px;
	font-size: 20px;
}

div.map_highlight {
	position: absolute;

	padding-right: -10px;

	border: 10px solid red;
	border-radius: 10px;
}

div.map_window {
	position: absolute;

	background-color: gray;
	border: 1px solid white;
	border-radius: 10px;
}

div.map_window_control_panel {
	position: absolute;
	width: 210px;

	background-color: gray;
	border: 1px solid white;
	border-radius: 10px;

	color: white;
	font-size: 18px;
}

div.map_window_control_panel_inner {
	position: absolute;
	left: 15px;
	top: 5px;
	right: 5px;
	bottom: 5px;

	overflow: auto;
}

div.map_window_control_panel_checkboxes {
	margin-bottom: 8px;
}

div.map_window_control_panel_map {
	padding: 4px 4px 4px 4px;

	border-left: 1px dashed white;
	border-right: 1px dashed white;
	border-top: 1px dashed white;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

div.map_window_control_panel_map:last-child {
	border-bottom: 1px dashed white;
}

div.map_window_control_panel_map input[type="range"] {
	width: 96px;
	margin-left: 8px;
	vertical-align: middle;
}

div.map_window_header {
	position: absolute;
	top: 0;
	left: 0;
	height: 35px;
	right: 0;

	border-radius: 10px;
	cursor: move;
}

p.map_window_title {
	color: white;
	font-weight: bold;
	font-size: 18px;

	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;

	position: absolute;
	top: 4px;
	left: 12px;
}

input.map_window_title_editor {
	position: absolute;
	top: 4px;
	left: 12px;
	width: 150px;
}

a.map_window_x {
	color: white;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;

	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;

	position: absolute;
	top: 4px;
	right: 8px;
}

div.map_window_drag_handle {
	color: white;
	font-weight: bold;
	font-size: 20px;

	cursor: se-resize;

	position: absolute;
	bottom: 0;
	right: 0;
	width: 25px;
	height: 20px;
}

div.map_container {
	position: absolute;
	top: 30px;
	right: 4px;
	bottom: 20px;
	left: 4px;
}

p.loading {
	font-size: 30px;
	width: 100%;
	text-align: center;
}
